/* cambio el color de la letra del menu a blanco */
#nav-principal{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
#app{
    padding-top: 5.5%;
    min-height: 670px;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    #app{
        padding-top: 25%;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px){
    #app{
        padding-top: 14%;
    }
}
@media screen and (min-width: 980px) and (max-width: 1199px){
    #app{
        padding-top: 12%;
    }
}
#app .navbar .container #logo{
    color: #fff;
    font-weight: bolder;
}
#app .navbar .container .collapse .link a{
    color: #fff;
}
#app .navbar .container .collapse .link a:hover{
    color: #2a88bd;
}
#app .navbar .container .navbar-header .subir{
    position: absolute;
    top:10px;
    left:20.5%;
}
#app .navbar .container .navbar-header .subir .acercar{
    margin-left: -29px;
}
/*######################################### media querys ################################################*/
/* se aumenta el pading para subir el buscador en tamaño normal */
@media screen and (min-width: 767px){
    #app .navbar .container .collapse .bajar{
        padding-top: 50px;
    }
}
/* centro el buscador cunado la resolucion es de 767px y se aumneta un pading para que baje el buscador */
@media screen and (max-width: 767px){
    #app .navbar .container .navbar-header .subir{
        position: absolute;
        top:45px;
        left: 10%;
    }
    #app .navbar .container .relleno{
        padding-bottom: 40px;
    }
}
/* centro el buscador cunado la resolucion es de 360 */
@media screen and (max-width: 767px){
    #app .navbar .container .navbar-header .subir{
        position: absolute;
        top:45px;
        left: 5%;
    }
    #app .navbar .container .navbar-header .subir .mark-input{
        width: 180px;
        margin-left: 0%;
    }
    #app .navbar .container .navbar-header .subir .model-input{
        display: none;
    }
    #app .navbar .container .navbar-header .subir .mark-input input{
        border: none;
        outline: none;
        background: #051426;
        color: white;
        box-shadow: none;
    }
    #app .navbar .container .navbar-header .subir .mark-input input:focus {
        border-bottom: 2px solid #98cbe8;
        border-radius: 0px;
    }
    #app .navbar .container .navbar-header .subir .model-input input{
        border: none;
        outline: none;
        background: #051426;
        color: white;
        box-shadow: none;
    }
    #app .navbar .container .navbar-header .subir .model-input input:focus {
        border-bottom: 2px solid #98cbe8;
        border-radius: 0px;
    }
    #app .navbar .container .navbar-header .subir .acercar button{
        width: 50px;
        border: none;
        background: #051426;
    }
    #app .navbar .container .navbar-header .subir .acercar button i{
        font-size: 18px;
        padding-top: 8px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px){
    #app .navbar .container .collapse .mover-derecha{
        position: absolute;
        top:5px;
        right: 40px;
    }
    #app .navbar .container .navbar-header .subir .mark-input{
        width: 180px;
        margin-left: 0%;
    }
    #app .navbar .container .navbar-header .subir .model-input{
        width: 180px;
        margin-left: -40px;
    }
    #app .navbar .container .navbar-header .subir .mark-input input{
        border: none;
        outline: none;
        background: #051426;
        color: white;
        box-shadow: none;
    }
    #app .navbar .container .navbar-header .subir .mark-input input:focus {
        border-bottom: 2px solid #98cbe8;
        border-radius: 0px;
    }
    #app .navbar .container .navbar-header .subir .model-input input{
        border: none;
        outline: none;
        background: #051426;
        color: white;
        box-shadow: none;
    }
    #app .navbar .container .navbar-header .subir .model-input input:focus {
        border-bottom: 2px solid #98cbe8;
        border-radius: 0px;
    }
    #app .navbar .container .navbar-header .subir .acercar button{
        width: 50px;
        border: none;
        background: #051426;
    }
    #app .navbar .container .navbar-header .subir .acercar button i{
        font-size: 18px;
        padding-top: 8px;
        margin-left: 0px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1199px){
    #app .navbar .container .navbar-header .subir .mark-input{
        width: 280px;
        margin-left: 0%;
    }
    #app .navbar .container .navbar-header .subir .model-input{
        width: 280px;
        margin-left: -40px;
    }
    #app .navbar .container .navbar-header .subir .mark-input input{
        border: none;
        outline: none;
        background: #051426;
        color: white;
        box-shadow: none;
    }
    #app .navbar .container .navbar-header .subir .mark-input input:focus {
        border-bottom: 2px solid #98cbe8;
        border-radius: 0px;
    }
    #app .navbar .container .navbar-header .subir .model-input input{
        border: none;
        outline: none;
        background: #051426;
        color: white;
        box-shadow: none;
    }
    #app .navbar .container .navbar-header .subir .model-input input:focus {
        border-bottom: 2px solid #98cbe8;
        border-radius: 0px;
    }
    #app .navbar .container .navbar-header .subir .acercar button{
        width: 50px;
        border: none;
        background: #051426;
    }
    #app .navbar .container .navbar-header .subir .acercar button i{
        font-size: 18px;
        padding-top: 8px;
        margin-left: 0px;
    }
}


@media screen and (min-width: 1200px){
    #app .navbar .container .collapse .bajar{
        margin-top: -48px;
    }
    #app .navbar .container .navbar-header .subir{
        width: 550px;
        position: absolute;
        top:10px;
        left: 35%;
    }
    #app .navbar .container .navbar-header .subir .mark-input{
        margin-left: 40px;
        margin-right: -40px;
    }
    #app .navbar .container .navbar-header .subir .mark-input input{
        border: none;
        outline: none;
        background: #051426;
        color: white;
        box-shadow: none;
    }
    #app .navbar .container .navbar-header .subir .mark-input input:focus {
        border-bottom: 2px solid #98cbe8;
        border-radius: 0px;
    }
    #app .navbar .container .navbar-header .subir .model-input input{
        border: none;
        outline: none;
        background: #051426;
        color: white;
        box-shadow: none;
    }
    #app .navbar .container .navbar-header .subir .model-input input:focus {
        border-bottom: 2px solid #98cbe8;
        border-radius: 0px;
    }
    #app .navbar .container .collapse .mover-derecha{
         margin-right: -10px;
     }
    #app .navbar .container .navbar-header .subir .acercar button{
        border: none;
        background: #051426;
    }
    #app .navbar .container .navbar-header .subir .acercar button i{
        font-size: 18px;
        padding-top: 8px;
        margin-left: 0px;
    }
    }

@media screen and (min-width: 1300px){
    #app .navbar .container .collapse .mover-derecha{
        margin-right: -10px;
    }

}

/* centro la img de regalos */
.centrar-regalos{
    width: 100%;
    height: auto;
    margin:30px 0px 0px auto;
}
.centrar-regalos img{
    display: block;
    margin: auto;
}
.sin-cuenta{
    font-size: 1.8rem;
}
.title-pago{
    font-size: 1.8rem;
    padding-top: 20px;
    text-align: left;
}
.img-pago{
    float: left;
}
.desc-pago{
    display: block;
    width: 60%;
    font-size: 11px;
    float: left;
    text-align: left;
    padding-left: 10px;
}
/* img-concesionaria */
.img-concesionaria{
    position: relative;
}
.title-concesionaria{
    font-size: 2.5rem;
    position: absolute;
    top: 10%;
    left: 28%;
    color: #1b6d85;
}
.desc-concesionaria{
    font-size: 1.4rem;
    position: absolute;
    top: 35%;
    left: 33%;
}
.link-concesionaria{
    position: absolute;
    top: 70%;
    right: 42%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .img-concesionaria{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 800px) {
    .img-concesionaria{
        position: relative;
    }
    .title-concesionaria{
        font-size: 1.8rem;
        position: absolute;
        top: 10%;
        left: 28%;
        color: #1b6d85;
    }
    .desc-concesionaria{
        font-size: 1.2rem;
        position: absolute;
        top: 35%;
        left: 30%;
    }
    .link-concesionaria{
        position: absolute;
        top: 70%;
        right: 32%;
    }
}
@media screen and (min-width: 801px) and (max-width: 980px) {
    .img-concesionaria{
        position: relative;
    }
    .title-concesionaria{
        font-size: 2.2rem;
        position: absolute;
        top: 10%;
        left: 28%;
        color: #1b6d85;
    }
    .desc-concesionaria{
        font-size: 1.3rem;
        position: absolute;
        top: 35%;
        left: 30%;
    }
    .link-concesionaria{
        position: absolute;
        top: 70%;
        right: 38%;
    }
}
/* estilos de register */
.borde-invisible{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #e3e3e3;
}
.borde-invisible:focus{
    border-bottom: 2px solid #2a88bd;
}
.letra-small{
    font-size: 12px;
    font-weight: normal;
}
/* buscador avanzado */
.buscador-avanzado{
    width: 60%;
    margin: auto;
    background: #051426;
    border-radius: 10px 10px 0px 0px;
}
.buscador-avanzado .title-buscador{
    color: white;
}
.buscador-avanzado .select-buscador{
    width: 25%;
    float: left;
    margin: 10px;
    margin-left: 5%;
    border-radius: 5px;
    font-size: 12px;
    height: 28px;
}
.fondo-buscador{
    background: white;
}
.buscador-avanzado .borde-buscador{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #9d9d9d;
    margin-bottom: -5px;
}
.buscador-avanzado .pesos-buscador{
    width: 25%;
    text-align: left;
    padding: 15px 35px;
    font-size: 1.2rem;
    color: #122b40;
    float: left;
}
.buscador-avanzado .input-buscador{
    padding: 8px 15px;
    width: 30%;
    float: left;
    font-size: 1.2rem;
}
.buscador-avanzado .input-etiqueta{
    width: 60%;
}

.buscador-avanzado .anio-buscador{
    width: 100%;
    font-weight: bolder;
    padding: 0px 30px;
    margin-top: 15px;
}
.buscador-avanzado .letras-buscador{
    width: 35%;
    float: left;
    padding: 0px 30px;
    font-size: 1.2rem;
}
.buscador-avanzado .letras-buscador .select-buscador-anio{
    width: 70%;
    font-size: 1.2rem;
    height: 28px;
    float: right;
    margin-bottom: 10px;
}
.buscador-avanzado .caja-btn-submit{
    width: 100%;
    background: #051426;
    padding: 12px;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
}
@media screen and (min-width: 800px) and (max-width: 980px){
    .buscador-avanzado{
        width: 85%;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px){
    .buscador-avanzado{
        width: 95%;
    }
    .buscador-avanzado .title-buscador{
        color: white;
    }
    .buscador-avanzado .select-buscador{
        width: 90%;
        float: left;
        margin: 10px;
        margin-left: 5%;
        border-radius: 5px;
        font-size: 12px;
        height: 28px;
    }
    .buscador-avanzado .pesos-buscador{
        width: 90%;
        text-align: center;
        padding: 15px 35px;
        font-size: 1.2rem;
        color: #122b40;
    }
    .buscador-avanzado .input-buscador{
        padding: 8px 15px;
        width: 100%;
        font-size: 1.2rem;
    }
    .buscador-avanzado .input-etiqueta{
        width: 100%;
    }

    .buscador-avanzado .anio-buscador{
        width: 100%;
        text-align: center;
        font-weight: bolder;
        padding: 0px 30px;
        margin-top: 15px;
    }
    .buscador-avanzado .letras-buscador{
        width: 100%;
        padding: 0px 15px;
        font-size: 1.2rem;
    }
    .buscador-avanzado .letras-buscador .select-buscador-anio{
        width: 100%;
        font-size: 1.2rem;
        height: 28px;
        margin-bottom: 20px;
    }
    .buscador-avanzado .caja-btn-submit{
        width: 100%;
        background: #051426;
        padding: 10px;
        border-radius: 0px 0px 8px 8px;
    }
}

/* verficacion del login si esta regisrtrado o es su primera ves */
.contenido-pregunta{
    background: white;
    border-radius: 8px;
    border: 1px solid lightgrey;
    padding: 18.5%;
    margin-bottom: 22px;
}
.contenido-pregunta .tipo-pregunta{
    width: 100%;
    height: 100%;
    text-align: center;
}
.contenido-pregunta .tipo-pregunta .contenido-logo-verificacion{
    width:60px;
    margin: auto;
    margin-bottom: 15px;
}
.contenido-pregunta .tipo-pregunta .aviso{
    font-size: 2rem;
    font-weight: bolder;
}
.contenido-pregunta .tipo-pregunta .tiene-cuenta{
    padding-left: 15px;
    font-size: 1.3rem;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .contenido-pregunta .tipo-pregunta .tiene-cuenta{
        display: block;
        width: 100%;
        padding-top: 15px;
        padding-left: 15px;
        font-size: 1.3rem;
    }
}
/* seleccion de los tipos de producto para agregar */
.seleccionar-tipos{
    width: 100%;
    background: #fff;
    margin-bottom: 25px;
}
.seleccionar-tipos .tipos{
    width: 60%;
    margin: auto;
}
.seleccionar-tipos .tipos .sub-links{
    display: inline-block;
    width: 30%;
    padding: 10px;
    text-align: center;
    border: 1px solid #E9E3E3;
    margin-right: -5px;
}
.seleccionar-tipos .tipos .activo {
    font-size: 1.4rem;
    font-weight: 700;
    color: #222;
    border-bottom-color: white;
}
.seleccionar-tipos .tipos .segundo, .tercero {
    font-size: 1.4rem;
    font-weight: normal;
    color: #C8BFBF;
}
.seleccionar-tipos .img-tipos{
    width: 80%;
    margin: 9% auto;
    overflow: hidden;
}
.seleccionar-tipos .cubo{
    width: 30%;
    float: left;
    border: 1px solid #C8BFBF;
    margin-right: 10px;
    border-radius: 8px;
}
.seleccionar-tipos .title-tipos {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}
.seleccionar-tipos .negro{
    color: #000;
}
.seleccionar-tipos .rojo{
    color: #761c19;
}
.seleccionar-tipos .violeta{
    color: #430645;
}
.seleccionar-tipos .autos:hover{
    border: 1px solid #000;
}
.seleccionar-tipos .motos{
    padding-bottom: 14px;
}
.seleccionar-tipos .motos:hover{
    border: 1px solid red;
}
.seleccionar-tipos .otros{
    padding-bottom: 5px;
}
.seleccionar-tipos .otros:hover{
    border: 1px solid #D01FD6;
}
.seleccionar-tipos .question{
    font-size: 1.3rem;
    padding-bottom: 50px;
    margin: -50px 0px 0px 10%;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .seleccionar-tipos .tipos .sub-links{
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-align: center;
        border: 1px solid #E9E3E3;
        margin-top: 20px;
        margin-right: -5px;
    }
    .seleccionar-tipos .cubo{
        width: 100%;
        float: left;
        border: 1px solid #C8BFBF;
        margin-top: 20px;
        margin-right: 10px;
        border-radius: 8px;
    }
    .seleccionar-tipos .question{
        font-size: 1.3rem;
        padding-bottom: 50px;
        margin: 0px 0px 0px 10%;
    }
}

/* cuando selecciona vehiculos */
.seleccionar-tipos .caja-vehiculo{
    width: 24%;
    height: 310px;
    float: left;
    border: 2px solid #000;
    margin-right: 10px;
    border-radius: 8px;
}
.seleccionar-tipos .select{
    width: 23%;
    height: 310px;
    float: left;
    border: 1px solid #CBC8CB;
    margin-right: 10px;
    border-radius: 8px;
    position: relative;
}
.seleccionar-tipos .select-modelo{
    width: 100%;
    height: 30px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    float: left;
    border: none;
    margin-right: 8px;
    font-size: 1.2rem;
}
.seleccionar-tipos .select-modelo .opciones{
    padding-left: 35px;
    text-align: left;
}
/* img ajax caja modelos */
.caja-img-ajax{
    position: absolute;
    top:45%;
    left:45%;
}
@media screen and (min-width: 768px) and (max-width: 980px) {
    .seleccionar-tipos .caja-vehiculo{
        width: 30%;
        height: 310px;
        float: left;
        border: 2px solid #000;
        margin-right: 10px;
        border-radius: 8px;
    }
    .seleccionar-tipos .select{
        width: 30%;
        height: 310px;
        float: left;
        border: 1px solid #CBC8CB;
        margin-right: 10px;
        margin-bottom: 15px;
        border-radius: 8px;
        position: relative;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .seleccionar-tipos .caja-vehiculo{
        width: 100%;
        height: 310px;
        float: left;
        border: 2px solid #000;
        margin-right: 10px;
        border-radius: 8px;
        position: relative;
    }
    .seleccionar-tipos .caja-vehiculo .img-vehiculo{
        position: absolute;
        left: 0%;
        bottom: 0%;
    }
    .seleccionar-tipos .select{
        width: 100%;
        height: 310px;
        float: left;
        border: 1px solid #CBC8CB;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 8px;
        position: relative;
    }
}
.ok{
    padding-top: 10%;
    width: 60%;
    margin: auto;
}
/* datos del vehiculo */
.completar-datos{
    width: 100%;
    background: #fff;
    margin-bottom: 25px;
}
.completar-datos .tipos{
    width: 60%;
    margin: auto;
}
@media screen and (min-width: 980px) and (max-width: 1990px){
    .completar-datos .tipos{
        width: 100%;
        margin: auto;
        padding-left: 5%;
    }
}
.completar-datos .tipos .sub-links{
    display: inline-block;
    width: 30%;
    padding: 10px;
    text-align: center;
    border: 1px solid #E9E3E3;
    margin-right: -5px;
}
.completar-datos .tipos .activo {
    font-size: 1.4rem;
    font-weight: 700;
    color: #222;
    border-bottom-color: white;
}
.completar-datos .tipos .segundo, .tercero {
    font-size: 1.4rem;
    font-weight: normal;
    color: #C8BFBF;
}
.contenedor-datos-vehiculo{
    width: 100%;
    height:auto;
    padding: 30px 70px 30px 70px;
    overflow: hidden;
    position: relative;
}
.contenedor-datos-vehiculo .title-datos{
    color:#4992E0;
    font-weight: bolder;
    font-size: 1.8rem;
}
.contenedor-datos-vehiculo .letra-ve{
    color: #000;
    font-size: 1.2rem;
}
.contenedor-datos-vehiculo .img-principal{
    width: 12%;
    height: 130px;
    border: 1px dashed #9B9595;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}
.contenedor-datos-vehiculo #file_img{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
}
.contenedor-datos-vehiculo .agregar-vehiculo, .agregar-vehiculo2, .agregar-vehiculo3,
.agregar-vehiculo4, .agregar-vehiculo5, .agregar-vehiculo6, .agregar-vehiculo7{
    position: absolute;
    left: 30%;
    bottom: 10%;
}
.contenedor-datos-vehiculo .foto-principal{
    position: absolute;
    top: 0%;
    left:-2%;
    color: #000;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 10px 0px 10px 25px;
}
.contenedor-datos-vehiculo .posicionar-img2{
    position: absolute;
    top: -95%;
}
.contenedor-datos-vehiculo .posicionar-img3{
    position: absolute;
    top: -183%;
}
.contenedor-datos-vehiculo .posicionar-img4{
    position: absolute;
    top: -278%;
}
.contenedor-datos-vehiculo .posicionar-img5{
    position: absolute;
    top: -365%;
}
.contenedor-datos-vehiculo .posicionar-img6{
    position: absolute;
    top: -466%;
}
.contenedor-datos-vehiculo .posicionar-img7{
    position: absolute;
    top: -560%;
}
@media screen and (min-width: 980px) and (max-width: 1199px){
    .contenedor-datos-vehiculo .img-principal{
        width: 15%;
        height: 130px;
        border: 1px dashed #9B9595;
        position: relative;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 800px) and (max-width: 989px){
    .contenedor-datos-vehiculo .img-principal{
        width: 19%;
        height: 130px;
        border: 1px dashed #9B9595;
        position: relative;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 768px) and (max-width: 799px){
    .contenedor-datos-vehiculo .img-principal{
        width: 22%;
        height: 130px;
        border: 1px dashed #9B9595;
        position: relative;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 360px) and (max-width: 767px){
    .completar-datos .tipos .sub-links{
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-align: center;
        border: 1px solid #E9E3E3;
        margin-top: 20px;
        margin-right: -5px;
    }
    .contenedor-datos-vehiculo .img-principal{
        width: 46%;
        height: 130px;
        border: 1px dashed #9B9595;
        position: relative;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 320px) and (max-width: 359px){
    .completar-datos .tipos .sub-links{
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-align: center;
        border: 1px solid #E9E3E3;
        margin-top: 20px;
        margin-right: -5px;
    }
    .contenedor-datos-vehiculo .img-principal{
        width: 51%;
        height: 130px;
        border: 1px dashed #9B9595;
        position: relative;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}
.contenedor-datos-vehiculo .contenido-info{
    width: 100%;
}
.contenedor-datos-vehiculo .contenido-info .title-datos2{
    width: 100%;
    color: #4992E0;
    font-size: 1.8rem;
    clear: both;
    font-weight: bolder;
    padding-top: 30px;
}
.contenedor-datos-vehiculo .contenido-info .datos-obligatorios{
    font-size: 1.1rem;
    margin-top: -12px;
}
.contenedor-datos-vehiculo .contenido-info .labeles{
    display: block;
    width: 18%;
    font-size: 1.2rem;
    text-align: right;
    float: left;
}
.contenedor-datos-vehiculo .contenido-info .labeles-normales{
    display: block;
    width: 18%;
    font-size: 1.2rem;
    text-align: right;
    float: left;
    font-weight: normal;
}
.contenedor-datos-vehiculo .contenido-info .select-info{
    width: 20%;
    height: 30px;
    margin-top: -1%;
    margin-left: 1%;
    margin-bottom: 2%;
    outline: none;
    border: none;
    border: 1px solid #CACBCE;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 2%;
}
.contenedor-datos-vehiculo .contenido-info .agrandar-titulo {
    width: 32%;
}
.contenedor-datos-vehiculo .contenido-info .modificar-input-number::-webkit-outer-spin-button, .modificar-input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px;
}
.contenedor-datos-vehiculo .contenido-info .modificar-input-number{
    -moz-appearance:textfield;
}
.contenedor-datos-vehiculo .contenido-info .select-info .opcion{
    padding-left: 20px;
}
.contenedor-datos-vehiculo .contenido-info .textarea-info{
    width: 30%;
    height: 10%;

}
@media screen and (min-width: 980px) and (max-width: 1199px) {
    .contenedor-datos-vehiculo .contenido-info .labeles{
        display: block;
        width: 20%;
        font-size: 1.2rem;
        text-align: right;
        float: left;
    }
    .contenedor-datos-vehiculo .contenido-info .labeles-normales{
        display: block;
        width: 20%;
        font-size: 1.2rem;
        text-align: right;
        float: left;
        font-weight: normal;
    }
    .contenedor-datos-vehiculo .contenido-info .select-info{
        width: 25%;
        height: 30px;
        margin-top: -1%;
        margin-left: 1%;
        margin-bottom: 2%;
        outline: none;
        border: none;
        border: 1px solid #CACBCE;
        border-radius: 6px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-left: 2%;
    }
    .contenedor-datos-vehiculo .contenido-info .agrandar-titulo {
        width: 43%;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
    .contenedor-datos-vehiculo .contenido-info .labeles{
        display: block;
        width: 23%;
        font-size: 1.2rem;
        text-align: right;
        float: left;
    }
    .contenedor-datos-vehiculo .contenido-info .labeles-normales{
        display: block;
        width: 23%;
        font-size: 1.2rem;
        text-align: right;
        float: left;
        font-weight: normal;
    }
    .contenedor-datos-vehiculo .contenido-info .select-info{
        width: 33%;
        height: 30px;
        margin-top: -1%;
        margin-left: 1%;
        margin-bottom: 2%;
        outline: none;
        border: none;
        border: 1px solid #CACBCE;
        border-radius: 6px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-left: 2%;
    }
    .contenedor-datos-vehiculo .contenido-info .agrandar-titulo {
        width: 56%;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .contenedor-datos-vehiculo{
        width: 100%;
        height:auto;
        padding: 30px 10px 30px 10px;
        overflow: hidden;
        position: relative;
    }
    .contenedor-datos-vehiculo .contenido-info .labeles{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        text-align: left;
        float: left;
    }
    .contenedor-datos-vehiculo .contenido-info .labeles-normales{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        text-align: left;
        float: left;
        font-weight: normal;
    }
    .contenedor-datos-vehiculo .contenido-info .select-info{
        width: 100%;
        height: 30px;
        margin-top: -1%;
        margin-left: 1%;
        margin-bottom: 2%;
        outline: none;
        border: none;
        border: 1px solid #CACBCE;
        border-radius: 6px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-left: 2%;
    }
}
/* fotos del auto */
.btn-delete-auto, .btn-delete-auto2, .btn-delete-auto3, .btn-delete-auto4, .btn-delete-auto5,
.btn-delete-auto6, .btn-delete-auto7{
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    color: #000;
    font-size: 1.6rem;
    border-radius: 50%;
}
.btn-delete-auto:hover, .btn-delete-auto2:hover, .btn-delete-auto3:hover,
.btn-delete-auto4:hover, .btn-delete-auto5:hover, .btn-delete-auto6:hover, .btn-delete-auto7:hover{
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    color: red;
    font-size: 1.6rem;
    border-radius: 50%;
}
.centrar-load-ajax, .centrar-load-ajax2, .centrar-load-ajax3, .centrar-load-ajax4, .centrar-load-ajax5,
.centrar-load-ajax6, .centrar-load-ajax7{
    position: absolute;
    margin: 45% 0% 0% 43%;
}
.contenedor-datos-vehiculo .caja-img1{
    position: relative;
    z-index: 10;
}
.contenedor-datos-vehiculo .caja-img1 .load-img1{
    z-index: 2000;
}
.contenedor-datos-vehiculo .caja-img1 .imagen-subida, .imagen-subida2, .imagen-subida3,
.imagen-subida4, .imagen-subida5, .imagen-subida6, .imagen-subida7{
    width: 100%;
    height: 100px;
    overflow: hidden;
    padding-top: 19%;
}
/* imgAjaxProvincia de provincias */
.imgAjaxProvincia, .imgAjaxCiudad{
    position: absolute;
    left: 41%;
}
@media screen and (min-width: 980px) and (max-width: 1199px){
    .imgAjaxProvincia, .imgAjaxCiudad{
        position: absolute;
        left: 47%;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px){
    .imgAjaxProvincia, .imgAjaxCiudad{
        position: absolute;
        left: 57%;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .imgAjaxProvincia, .imgAjaxCiudad{
        position: absolute;
        left: 45%;
    }
}
/* mas especificaciones */
.seguridad-auto{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.seguridad-auto .columna{
    width: 25%;
    font-size: 1.2rem;
    float: left;
}
@media screen and (min-width: 980px) and (max-width: 1199px){
    .seguridad-auto .columna{
        width: 33.3%;
        font-size: 1.2rem;
        float: left;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px){
    .seguridad-auto .columna{
        width: 50%;
        font-size: 1.2rem;
        float: left;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .seguridad-auto .columna{
        width: 100%;
        font-size: 1.2rem;
        float: left;
    }
}
.ultimo{
    padding-bottom: 40px;
}
.letra-especificaciones{
    width: 100%;
    padding-top: 17px;
    margin-left: 19%;
    margin-bottom: 35px;
}
#especificaciones{
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
    .letra-especificaciones{
        width: 100%;
        padding-top: 25px;
        margin-left: 21%;
    }
}
@media screen and (min-width: 800px) and (max-width: 979px) {
    .letra-especificaciones{
        width: 100%;
        padding-top: 27px;
        margin-left: 24%;
    }
}
@media screen and (min-width: 768px) and (max-width: 799px) {
    .letra-especificaciones{
        width: 100%;
        padding-top: 29px;
        margin-left: 25%;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    #especificaciones{
        display: block;
        width: 100%;;
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 700;
        margin-top: 30px;
        margin-left: -15%;
    }
}

/* mostrando el mensaje de success depues de haber publicado */
.contenedor-img-success{
    width: 100%;
}
.contenedor-img-success .img-success{
    width: 100%;
}
.contenedor-img-success .img-success .success1{
    width: 50%;
    float: left;
    padding-bottom: 10px;
}
.mensaje-success{
    clear: both;
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 15px;
    background: #051426;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-weight: bolder;
    border-radius: 9px;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .contenedor-img-success .img-success .success1{
        width: 100%;
        float: left;
    }
    .mensaje-success{
        width: 100%;
    }
    .links-success{
        clear: both;
        display: block;
        width: 100%;
        text-align: center;
    }
}
.links-success{
    clear: both;
    display: block;
    width: 28%;
    margin: auto;
}
.negrita{
    font-weight: bolder;
    margin-bottom: 10px;
}
.negrita:hover{
    background: #051426;
}

/*##################################################################################################
########### contenido de autos nuevos y usados #####################################################
####################################################################################################*/
.contenido-autos{
    width: 100%;
    min-height: 100%;
    padding: 15px 30px 40px 30px;
    overflow: hidden;

}
.caja-submenu{
    width: 100%;
    background: #fff;
    padding: 6px;
    border-bottom:1px solid #dfdfdf;
    overflow: hidden;
    font-size: 1.3rem;
}
.caja-submenu .submenu{
    width:85%;
    float: left;
}
@media screen and (min-width: 980px) and (max-width: 1100px){
    .caja-submenu .submenu{
        width:82%;
        float: left;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px){
    .caja-submenu .submenu{
        width:78%;
        float: left;
    }
}
.caja-submenu .atajo-relevantes {
    width: auto;
    position: absolute;
    right: 5%;
    z-index: 10000;
}
#relevantes{
    color: #000;
    cursor: pointer;
    font-weight: bolder;
}
.caja-submenu .filtro-precios {
    background: #fff;
    padding: 4px 8px;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .caja-submenu .submenu{
        width:100%;
        float: left;
    }
    .caja-submenu .atajo-relevantes {
        width: 100%;
        position: inherit;
    }
}
/* filtro de navegacion */
.categorias-navegacion{
    background: #EEEEEE;
    width: 183px;
    margin-top: 10px;
    padding: 8px 10px;
    border-radius: 7px;
    float: left;
}
.categorias-navegacion .title-nav{
    font-size: 1.2rem;
    font-weight: bolder;
    color: #000;
    margin-top: 5%;
    margin-bottom: 0px;
    cursor: default;
}
.categorias-navegacion .link-opciones{
    color: #2437B3;
    cursor: pointer;
}

.categorias-navegacion .list-marcas{
    list-style: none;
    font-size: 12px;
    line-height: 15px;
}
.categorias-navegacion .desplegar{
    list-style: none;
    font-size: 12px;
    line-height: 15px;
}
/*##################################################################################################
 ################ listado de los autos #############################################################
 ##################################################################################################*/
.listado-autos{
    width: 85%;
    overflow: hidden;
}
.listado-autos .relleno-auto{
    width: 238px;
    height: 300px;
    background: #FFFFFF;
    padding: 10px;
    margin: 10px 0px 10px 20px;
    border-radius: 4px;
    float: left;
    border: 1px solid #dfdfdf;
    z-index: 10;
}
@media screen and (min-width: 980px) and (max-width: 1279px){
    .listado-autos{
        width: 80%;
    }
    .listado-autos .relleno-auto{
        width: 235px;
        height: 300px;
        background: #FFFFFF;
        padding: 10px;
        margin: 10px 0px 10px 10px;
        border-radius: 4px;
        float: left;
        border: 1px solid #dfdfdf;
        z-index: 10;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px){
    .listado-autos{
        width: 72%;
    }
    .listado-autos .relleno-auto{
        width: 235px;
        height: 300px;
        background: #FFFFFF;
        padding: 10px;
        margin: 10px 0px 10px 13px;
        border-radius: 4px;
        float: left;
        border: 1px solid #dfdfdf;
        z-index: 10;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .panel-autos .categorias-navegacion{
        width: 100%;
    }
    .panel-autos .categorias-navegacion .btn-min-320 {
        text-align: center;
        cursor: pointer;
    }
    .panel-autos .categorias-navegacion .btn-min-320::before {
        content: "« ";
    }
    .panel-autos .categorias-navegacion .btn-min-320::after {
        content: " »";
    }
    .panel-autos .categorias-navegacion .contenido-min-320{
        display: none;
        text-align: center;
    }
    .listado-autos{
        width: 100%;
    }
}
.listado-autos .relleno-auto:hover {
    box-shadow: 0px 5px 5px grey;
}
.listado-autos .relleno-auto .cont-img-car{
    width: 100%;
    height: 150px;
    position: relative;
}
.listado-autos .relleno-auto .cont-img-car .img-car {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.listado-autos .relleno-auto .title-auto {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 15px;
}
.listado-autos .relleno-auto .precio-auto {
    color: darkred;
    font-size: 1.5rem;
    font-weight: bolder;
}
.listado-autos .relleno-auto .anio-km {
    color: #333;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: -6%;
    margin-bottom: -1%;
}
.listado-autos .relleno-auto .provincia-auto {
    font-size: 1.1rem;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .aumentar-margen{
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
/* slide de la vista del auto elegido */
.slider{
    margin-right: 20px;
    width: 620px;
    height: 320px;
    max-height: 320px;
    float: left;
    overflow: hidden;
    position: relative;
    *border: 1px solid #dfdfdf;
    background: #01000B;
    border-radius: 8px;
}
@media screen and (min-width: 768px) and (max-width: 979px){
    .slider{
        margin:20px 0px 25px 40px;
        width: 620px;
        height: 320px;
        max-height: 320px;
        position: relative;
        background: #01000B;
        border-radius: 8px;
    }
}
@media screen and (min-width: 800px) and (max-width: 979px) {
    .slider{
        margin:20px 0px 25px 60px;
        width: 620px;
        height: 320px;
        max-height: 320px;
        position: relative;
        background: #01000B;
        border-radius: 8px;
    }
}
.slider:hover #left{
    color: #fff;
}
.slider:hover #right{
    color:  #fff;
}
.s_element{
    position: relative;
    width: 100%;
    height: 100%;
}
.s_element img{
    display: block;
    margin: auto;
    width: auto;
    min-height: 320px;
    height: 320px;
    max-height: 320px;
}
#left{
    position: absolute;
    top: 45%;
    left: 5px;
    color: #020212;
    cursor: pointer;
    font-size: 20px;
}
#right{
    position: absolute;
    top: 45%;
    right: 5px;
    color: #020212;
    cursor: pointer;
    font-size: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .slider{
        width: 100%;
        height: 160px;
        max-height: 160px;
        position: relative;
        background: #01000B;
        border-radius: inherit;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .s_element img{
        display: block;
        margin: auto;
        width: auto;
        min-height: 160px;
        height: 160px;
        max-height: 160px;
    }
    #left{
        position: absolute;
        top: 45%;
        left: 2px;
        color: #020212;
        cursor: pointer;
        font-size: 20px;
    }
    #right{
        position: absolute;
        top: 45%;
        right: 2px;
        color: #020212;
        cursor: pointer;
        font-size: 20px;
    }
}
/* fin slide */

/* estilos del auto elegido*/
.info-car{
    background: white;
    overflow:hidden;
    margin: 20px 0px 0px 0px;
    padding: 0px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
}
.info-car .car_title{
    width: 90%;
    margin: 0px 0px 10px 0px;
    font-size: 2.2rem;
    padding: 10px 15px 10px 0px;
    font-weight: bolder;
}
.info-car .car_precio{
    font-size: 2.3rem;
    color: #A61010;
    font-weight: bolder;
    margin-bottom: 20px;
}
.info-car .car_anio_km{
    font-weight: bolder;
    color: #000;
    margin-top: -8px;
    margin-bottom: -5px;
}
.info-car .car_pro_ciu_bar {
    font-size: 1.2rem;
}
.info-car .mini_info{
    border: 1px solid #dfdfdf;
    border-radius: 6px;
}
.info-car .mini_info .caja_gris {
    padding: 5px 10px;
    background: #EEEEEE;
}
.info-car .mini_info .anun {
    color: #000;
}
.info-car .mini_info .name_lastname {
    color: #545151;
    margin-bottom: -2px;
    font-size: 1.3rem;
}
.info-car .mini_info .telefono {
    margin-bottom: -4px;
    color: #545151;
    font-size: 1.3rem;
}
.info-car .mini_info .consulta_cars {
    display: block;
    margin: 8px;
    width: 97%;
    min-width: 97%;
    max-width: 97%;
    height: 63px;
    min-height: 63px;
    font-size: 1.3rem;
    padding: 6px 10px;

    background-color: transparent;
    border: 1px solid #dfdfdf;
    scrollbar-arrow-color: #000066;
    scrollbar-base-color: #000033;
    scrollbar-dark-shadow-color: #336699;
    scrollbar-track-color: #666633;
    scrollbar-face-color: #cc9933;
    scrollbar-shadow-color: #DDDDDD;
    scrollbar-highlight-color: #CCCCCC;
}
.info-car .mini_info .foco-consultar{
    border: 1px solid #A61010;
}
.info-car .btn-consultar {
    -moz-box-shadow:inset 0px 0px 24px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 0px 24px 0px #bbdaf7;
    box-shadow:inset 0px 0px 24px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #155ca3) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #155ca3 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#155ca3');
    background-color:#79bbff;
    -webkit-border-top-left-radius:42px;
    -moz-border-radius-topleft:42px;
    border-top-left-radius:42px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:42px;
    -moz-border-radius-bottomright:42px;
    border-bottom-right-radius:42px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:-2.62px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:29px;
    line-height:29px;
    width:91px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;
    margin: 15px 0px 15px 10px;
}
.info-car .btn-consultar:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #155ca3), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #155ca3 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#155ca3', endColorstr='#79bbff');
    background-color:#155ca3;
}
.info-car .btn-consultar:active {
     position:relative;
     top:1px;
}
@media screen and (min-width: 768px) and (max-width: 979px){
    .info-car{
        width: 100%;
        background: white;
        overflow:hidden;
        margin: 20px 0px 0px 0px;
        padding: 0px 15px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: 1px solid #dfdfdf;
        border-radius: 8px;
    }
}
/* aqui empieza el contenido del auto */
.content_info_general{
    border: 1px solid #dfdfdf;
    background: #fff;
    border-radius: 6px;
    margin: 5px 0px 0px 0px;
    clear: both;
}
.content_info_general .consejos_seguridad{
    margin: 10px 10px;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
}
.content_info_general .consejos_seguridad .fa-exclamation-triangle{
    font-size:100px;
    float: left;
}
.content_info_general .consejos_seguridad .title_consejo {
    font-weight: bolder;
    color: #575454;
    padding-left: 11%;
}
.content_info_general .consejos_seguridad .con1,.con2 {
    width: 45%;
    float: left;
    line-height: 17px;
}
.content_info_general .consejos_seguridad .consejo {
    font-size: 1.2rem;
}
.content_info_general .text-denunciar{
    font-size: 1.2rem;
    margin-left: 10px;
}
@media screen and (min-width: 980px) and (max-width: 1081px){
    .content_info_general .consejos_seguridad .title_consejo {
        font-weight: bolder;
        color: #575454;
        padding-left: 14.5%;
    }
    .content_info_general .consejos_seguridad .con1,.con2 {
        width: 40%;
        float: left;
        line-height: 17px;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
    .content_info_general .consejos_seguridad .fa-exclamation-triangle{
        padding-top: 3%;
        font-size:100px;
        float: left;
    }
    .content_info_general .consejos_seguridad .title_consejo {
        font-weight: bolder;
        color: #575454;
        padding-left: 19%;
    }
    .content_info_general .consejos_seguridad .con1,.con2 {
        width: 40%;
        float: left;
        line-height: 17px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .content_info_general .consejos_seguridad .fa-exclamation-triangle{
        display: block;
        width: 100%;
        font-size:100px;
        padding-top: 3%;
        text-align: center;
    }
    .content_info_general .consejos_seguridad .title_consejo {
        font-weight: bolder;
        text-align: center;
        color: #575454;
        margin-left: -10%;
    }
    .content_info_general .consejos_seguridad .con1,.con2 {
        width: 100%;
        line-height: 17px;
        margin-left: -5%;
    }
}
/*###################################################################################################
##### caractristicas del auto ######################################################################*/
.content_info_general .detalle_tecnico_cars{
    background: #EEEEEE;
    margin: 0px 10px;
    border-radius: 8px;
    list-style: none;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content_info_general .detalle_tecnico_cars > li{
    width: 24%;
    float: left;
    margin: 10px 0px;
}
.content_info_general .detalle_tecnico_cars > li > span{
    display: block;
    font-size: 1.1rem;
}
.content_info_general .detalle_tecnico_cars > li > strong {
    font-weight: bolder;
    color: #000;
    font-size: 1.7rem;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .content_info_general .detalle_tecnico_cars > li{
        width: 100%;
        float: left;
        margin: 10px -10px;
        padding-right: 10px;
    }
}
/* adicionales */
.content_info_general .adicionales_cars > h3{
    font-size: 1.7rem;
    margin-left: 15px;
    margin-bottom: 20px;
    color: grey;
}
.content_info_general .adicionales_cars .linea1{
    display: block;
    width: 90%;
    margin: -8px 0px 0px 9%;
    border-bottom: 1px solid #dfdfdf;
}
.content_info_general .adicionales_cars .linea2{
    display: block;
    width: 93%;
    margin: -8px 0px 0px 6%;
    border-bottom: 1px solid #dfdfdf;
}
.content_info_general .adicionales_cars .linea3{
    display: block;
    width: 92%;
    margin: -8px 0px 0px 7%;
    border-bottom: 1px solid #dfdfdf;
}
.content_info_general .adicionales_cars .adicionales {
    width: 100%;
    overflow: hidden;
}
.content_info_general .adicionales_cars .adicionales > li{
    margin-left: -15px;
    width: 26%;
    float: left;
    color: #000;
    font-size: 1.3rem;
}
.content_info_general .adicionales_cars .linea-final{
    display: block;
    width: 97.5%;
    margin: 25px 15px 15px 15px;
    border-bottom: 2px solid #C3C3C3;
}
#desc-show{
    margin: 0px 10% 25px 10%;
}
.final-info{
    width: 100%;
    background: white;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .content_info_general .adicionales_cars .linea1{
        display: block;
        width: 53%;
        margin: -8px 0px 0px 42%;
        border-bottom: 1px solid #dfdfdf;
    }
    .content_info_general .adicionales_cars .linea2{
        display: block;
        width: 70%;
        margin: -8px 0px 0px 25%;
        border-bottom: 1px solid #dfdfdf;
    }
    .content_info_general .adicionales_cars .linea3{
        display: block;
        width: 69%;
        margin: -8px 0px 0px 27%;
        border-bottom: 1px solid #dfdfdf;
    }
    .content_info_general .adicionales_cars .adicionales > li{
        width: 100%;
        float: left;
        color: #000;
        font-size: 1.3rem;
    }
    .content_info_general .adicionales_cars .linea-final{
        display: block;
        width: 90%;
        margin: 25px 15px 15px 15px;
        border-bottom: 2px solid #C3C3C3;
    }
    #desc-show{
        margin: 0px 3% 25px 3%;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px){
    .content_info_general .adicionales_cars .linea1{
        display: block;
        width: 83%;
        margin: -8px 0px 0px 15%;
        border-bottom: 1px solid #dfdfdf;
    }
    .content_info_general .adicionales_cars .linea2{
        display: block;
        width: 87.5%;
        margin: -8px 0px 0px 10%;
        border-bottom: 1px solid #dfdfdf;
    }
    .content_info_general .adicionales_cars .linea3{
        display: block;
        width: 86.5%;
        margin: -8px 0px 0px 11%;
        border-bottom: 1px solid #dfdfdf;
    }
    .content_info_general .adicionales_cars .adicionales > li{
        width: 50%;
        float: left;
        color: #000;
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 980px) and (max-width: 1279px){
    .content_info_general .adicionales_cars .linea1{
        display: block;
        width: 87.5%;
        margin: -8px 0px 0px 11%;
        border-bottom: 1px solid #dfdfdf;
    }
    .content_info_general .adicionales_cars .linea2{
        display: block;
        width: 91.5%;
        margin: -8px 0px 0px 7%;
        border-bottom: 1px solid #dfdfdf;
    }
    .content_info_general .adicionales_cars .linea3{
        display: block;
        width: 90.5%;
        margin: -8px 0px 0px 8%;
        border-bottom: 1px solid #dfdfdf;
    }
    .content_info_general .adicionales_cars .adicionales > li{
        margin-left: -15px;
        margin-right: 33px;
        width: 30%;
        float: left;
        color: #000;
        font-size: 1.3rem;
    }
}
































    /* listado footer */
.listado-footer{
    width: 100%;
    height: auto;
    color: white;
    background: #051426;
    padding: 20px 20px;
}
.listado-footer .caja-1 .title-logo{
    padding-top: 20px;
    font-size: 2.8rem;
    font-family: Verdana;
    font-weight: bold;
}
.listado-footer .logo-sugerencias{
    line-height: 6px;
    font-size: 11px;
}
.listado-footer .logo-sugerencias a{
    color: white;
}
.listado-footer .redes-sociales{
    font-size: 30px;
}
.listado-footer .redes-sociales a{
    color: white;
}
.listado-footer .redes-sociales a:hover .fa-twitter{
    color: #2a88bd;
}
.listado-footer .redes-sociales a:hover .fa-facebook-square{
    color: #3b5998;
}
.listado-footer .redes-sociales a:hover .fa-instagram{
    color: #333;
}
.listado-footer .redes-sociales a:hover .fa-youtube{
    color: #d62728;
}
.listado-footer .lista-nuevos{
    list-style: none;
    margin-left: -40px;
}
.listado-footer .lista-nuevos li{
    line-height: 12px;
}
.listado-footer .lista-nuevos li a{
    color: #fff;
    font-size: 1.1rem;
}

/* pie de pagina */
.footer{
    width: 100%;
    background: #122b40;
    color: white;
    padding: 8px 50px;
    font-size: 1.1rem;
    line-height: 12px;
    box-shadow: inset -1px 6px 6px #2a88bd;
}
.footer .redes-sociales{
    font-size: 30px;
    margin-left: 30px;
    padding-bottom: 8px;
}
.footer .redes-sociales a{
    color: white;
}
.footer .redes-sociales a:hover .fa-twitter{
    color: #2a88bd;
}
.footer .redes-sociales a:hover .fa-facebook-square{
    color: #3b5998;
}
.footer .redes-sociales a:hover .fa-instagram{
    color: #000;
}
.footer .redes-sociales a:hover .fa-youtube{
    color: #d62728;
}
.footer span{
    margin-top: 6px;
}
.footer .footer-descripcion{
    display: block;
    width: auto;
    line-height: 12px;
}